{% load static %}

<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/housemix.webp' %}">
                <span class="card-title reqcard-title">House Mix</span>
                <a id="dhousemixbtn" class="btn-floating halfway-fab waves-effect waves-light reqcard-btn">
                    <!-- <i id="dhousemixbtn" class="material-icons reqcard-icon">check_box_outline_blank</i> -->
                    <i id="dhousemixcheck" class="material-icons reqcard-icon">check_box</i>
                </a>
            </div>
            <div class="card-content reqcard-content cardheight">
                <p class="mysize-small">
                   Our most requested blend with a little bit of everything: 
                   new, classic pop and jazz-- works well with quartet, trio, duo or solo!
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/naplesontherocks.webp' %}">
                <span class="card-title reqcard-title">Naples On the Rocks</span>
                <a id="dnaplesontherocksbtn" class="btn-floating halfway-fab waves-effect waves-light reqcard-btn">
                    <i id="dnaplesontherockscheck" class="material-icons reqcard-icon">check_box_outline_blank</i>
                </a>
            </div>
            <div class="card-content reqcard-content cardheight">
                <p class="mysize-small">
                   Classic and new rock and pop delivered in style. 
                   The Beatles, Coldplay, Queen and the Cure: they're all in here. 
                   Best served with quartet or trio.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/cosmopolitan.webp' %}">
                <span class="card-title reqcard-title">The Cosmopolitan</span>
                <a id="dcosmopolitanbtn" class="btn-floating halfway-fab waves-effect waves-light reqcard-btn">
                    <i id="dcosmopolitancheck" class="material-icons reqcard-icon">check_box_outline_blank</i>
                </a>
            </div>
            <div class="card-content reqcard-content cardheight">
                <p class="mysize-small">
                   So vintage it's modern. Cole Porter and Gershwin mix 
                   with Sinatra and Michael buble. Laid back and smooth from start to finish.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/bellini.webp' %}">
                <span class="card-title reqcard-title">The Bellini</span>
                <a id="dbellinibtn" class="btn-floating halfway-fab waves-effect waves-light reqcard-btn">
                    <i id="dbellinicheck" class="material-icons reqcard-icon">check_box_outline_blank</i>
                </a>
            </div>
            <div class="card-content reqcard-content cardheight">
                <p class="mysize-small">
                   A classic with an old soul. Light classical favorites bring lush sound and 
                   timeless beauty to the night.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/mojito.webp' %}">
                <span class="card-title reqcard-title">The Mojito</span>
                <a id="dmojitobtn" class="btn-floating halfway-fab waves-effect waves-light reqcard-btn">
                    <i id="dmojitocheck" class="material-icons reqcard-icon">check_box_outline_blank</i>
                </a>
            </div>
            <div class="card-content reqcard-content cardheight">
                <p class="mysize-small">
                   Light and breezy with a Latin flair. Rhumbas, tangos, and Cuban classics 
                   blended for a perfect evening.  Best served with quartet.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/darjeelingfizz.webp' %}">
                <span class="card-title reqcard-title">The Darjeeling Fizz</span>
                <a id="ddarjeelingfizzbtn" class="btn-floating halfway-fab waves-effect waves-light reqcard-btn">
                    <i id="ddarjeelingfizzcheck" class="material-icons reqcard-icon">check_box_outline_blank</i>
                </a>
            </div>
            <div class="card-content reqcard-content cardheight">
                <p class="mysize-small">
                   NEW! We are proud to be the only string quartet in Florida offering the best 
                   of Bollywood with a mix that's elegant, beautiful, and so fun!  Quartet only.
                </p>
            </div>
        </div>
    
    </div>
</div>

