                    <br />
                    <span class="mycol-subtext mysize-large"><h5>Thank you, 
                        {{name}}, for your payment of ${{amount}}.  </h5></span>
                    <span class="mycol-subtext mysize-medium">
                          <h6>A receipt has been sent to {{email}}.</h6><br />
                          <br />
                    </span>
                    
                    <div class="row mybackground-login2 valign-wrapper">
                    <div class="col card center mycol-panel col s10 m10 l8 xl6 offset-s1 offset-m1 offset-l2 offset-xl3">
                    <span class="mycol-subtext mysize-large">
                          <br />
                          Check out your new Client Home
                          <h6 class="mycol-subtext mysize-norm">We're thrilled to be playing for you,
                          <br /> and to help keep track of things and see what's next, we've made a page just for you.</h6><br />
                          <span class="mycol-subtext mysize-norm">You can bookmark this link:</span><br />
                          <a href="{{client_home_path}}" class="mysize-norm mycol-maintext"><span style="word-wrap:break-word;overflow-wrap:break-word;">{{client_home_path}}</span></a><br />
                          <br />
                          <h6 class="mycol-subtext mysize-norm">Or click below to check out your page right now!</h6><br />
                    </span>
                    </div>
                    </div>

