<br />
<br />
<h2>Unfortunately, there was a "concurrent update" error.</h2><br /><br />

<h3>This means that the event was edited elsewhere between your last save and this save attempt,<br />
and that you may have lost changes (if any) that you entered on this page since your last save.<br /><br />

This is most likely to happen if the client performed an action since you last saved,<br />
and this window had been left open in the meantime.<br /><br />

The only thing to do is re-load the event's page:<br /><br />

<a href="/events/{{id}}/edit">Back to this Event</a><br /><br /></h3>