<br />
    <button id="showkey" class="btn z-depth-3 ev-col2">Show Key...</button>
    
    <div id="key" class="noshow">
        <br />
        <table class="responsive-table striped centered">
            <thead></thead>
            <tr>
               <th>&#123;&#123;hold_until&#125;&#125;</th>
               <th>&#123;&#123;name&#125;&#125;</th>
               <th>&#123;&#123;friendly_name&#125;&#125;</th>
               <th>&#123;&#123;date&#125;&#125;</th>
               <th>&#123;&#123;date_weekday&#125;&#125;</th> 
            </tr>
            <tr>
               <th>&#123;&#123;date_year&#125;&#125;</th> 
               <th>&#123;&#123;date_short&#125;&#125;</th> 
               <th>&#123;&#123;start_time&#125;&#125;</th> 
               <th>&#123;&#123;end_time&#125;&#125;</th>
               <th>&#123;&#123;ceremony_time&#125;&#125;</th>
            </tr>
            <tr>
               <th>&#123;&#123;event_type&#125;&#125;</th> 
               <th>&#123;&#123;ensemble_name&#125;&#125;</th> 
               <th>&#123;&#123;ensemble_number&#125;&#125;</th> 
               <th>&#123;&#123;fee&#125;&#125;</th> 
               <th>&#123;&#123;deposit_fee&#125;&#125;</th> 
            </tr>
            <tr>
               <th>&#123;&#123;final_fee&#125;&#125;</th> 
               <th>&#123;&#123;musician_fee&#125;&#125;</th> 
               <th>&#123;&#123;contract_rcvddate&#125;&#125;</th> 
               <th>&#123;&#123;deposit_rcvddate&#125;&#125;</th> 
               <th>&#123;&#123;final_rcvddate&#125;&#125;</th> 
            </tr>
            <tr>
               <th>&#123;&#123;music_list_rcvddate&#125;&#125;</th> 
               <th>&#123;&#123;confirmation_rcvddate&#125;&#125;</th> 
               <th>&#123;&#123;contract_sentdate&#125;&#125;</th> 
               <th>&#123;&#123;deposit_sentdate&#125;&#125;</th> 
               <th>&#123;&#123;final_sentdate&#125;&#125;</th> 
            </tr>
            <tr>
               <th>&#123;&#123;music_list_sentdate&#125;&#125;</th> 
               <th>&#123;&#123;confirmation_sentdate&#125;&#125;</th> 
               <th>&#123;&#123;contract_duedate&#125;&#125;</th> 
               <th>&#123;&#123;deposit_duedate&#125;&#125;</th> 
               <th>&#123;&#123;final_duedate&#125;&#125;</th> 
            </tr>
            <tr>
               <th>&#123;&#123;music_list_duedate&#125;&#125;</th> 
               <th>&#123;&#123;confirmation_duedate&#125;&#125;</th> 
               <th>&#123;&#123;signature&#125;&#125;</th> 
               <th>&#123;&#123;location_name&#125;&#125;</th> 
               <th>&#123;&#123;location_details&#125;&#125;</th>
            </tr>
            <tr>
               <th>&#123;&#123;calc_future_music_list_duedate&#125;&#125;</th> 
               <th>&#123;&#123;calc_future_confirmation_duedate&#125;&#125;</th> 
               <th>&#123;&#123;calc_future_contract_duedate&#125;&#125;</th> 
               <th>&#123;&#123;calc_future_deposit_duedate&#125;&#125;</th> 
               <th>&#123;&#123;calc_future_final_duedate&#125;&#125;</th>
            </tr>
            <tr>
               <th>&#123;&#123;location_address&#125;&#125;</th>
               <th>&#123;&#123;location_link&#125;&#125;</th>
               <th>&#123;&#123;location_phone&#125;&#125;</th>
               <th>&#123;&#123;location_email&#125;&#125;</th>
               <th>&#123;&#123;location_outdoors&#125;&#125;</th> 
            </tr>
            <tr>
               <th>&#123;&#123;contact_name&#125;&#125;</th> 
               <th>&#123;&#123;contact_details&#125;&#125;</th> 
               <th>&#123;&#123;contact_agency&#125;&#125;</th> 
               <th>&#123;&#123;contact_phone&#125;&#125;</th> 
               <th>&#123;&#123;contact_email&#125;&#125;</th> 
            </tr>
            <tr>
               <th>&#123;&#123;dayofcontact_name&#125;&#125;</th> 
               <th>&#123;&#123;dayofcontact_details&#125;&#125;</th>
               <th>&#123;&#123;dayofcontact_phone&#125;&#125;</th>
               <th>&#123;&#123;dayofcontact_email&#125;&#125;</th>
               <th>&#123;&#123;if_ceremony_time&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;if_location_details&#125;&#125;</th>
                <th>&#123;&#123;paypal_link_deposit&#125;&#125;</th>
                <th>&#123;&#123;paypal_link_full&#125;&#125;</th>
                <th>&#123;&#123;paypal_link_final&#125;&#125;</th>
                <th>&#123;&#123;fact_ceremony_time&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;location_name_link&#125;&#125;</th>
                <th>&#123;&#123;indoor_outdoor&#125;&#125;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&#123;&#123;hold_until&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;type&#125;&#125;</th>
                <th>&#123;&#123;if_hold&#125;&#125;</th>
                <th>&#123;&#123;if_hold_until&#125;&#125;</th>
                <th>&nbsp;</th>
                <th>&#123;&#123;contracting_fee&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;waive_payment&#125;&#125;</th>
                <th>&#123;&#123;waive_contract&#125;&#125;</th>
                <th>&#123;&#123;music_list&#125;&#125;</th>
                <th>&#123;&#123;yes_btn_invite&#125;&#125;</th>
                <th>&#123;&#123;no_btn_invite&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;gotit_btn_factsheets&#125;&#125;</th>
                <th>&#123;&#123;officiant_info&#125;&#125;</th>
                <th>&#123;&#123;fee_paypal&#125;&#125;</th>
                <th>&#123;&#123;deposit_fee_paypal&#125;&#125;</th>
                <th>&#123;&#123;final_fee_paypal&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;event_id&#125;&#125;</th>
                <th>&#123;&#123;hold_until_sentence&#125;&#125;</th>
                <th>&#123;&#123;event_link&#125;&#125;</th>
                <th>&#123;&#123;yes_btn_text&#125;&#125;</th>
                <th>&#123;&#123;no_btn_text&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;gotit_btn_text&#125;&#125;</th>
                <th>&#123;&#123;full_or_final&#125;&#125;</th>
                <th>&#123;&#123;client_portal&#125;&#125;</th>
                <th>&#123;&#123;date_today&#125;&#125;</th>
                <th>&#123;&#123;signature_alt&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;extra_fee&#125;&#125;</th>
                <th>&#123;&#123;extra_fee_paypal&#125;&#125;</th>
                <th>&#123;&#123;extra_rcvddate&#125;&#125;</th>
                <th>&#123;&#123;calc_future_extra_duedate&#125;&#125;</th>
                <th>&#123;&#123;fee_plus_extra&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;client_portal_click_here&#125;&#125;</th>
                <th>&#123;&#123;new_client_click_here&#125;&#125;</th>
                <th>&#123;&#123;dress_code&#125;&#125;</th>
                <th>&#123;&#123;num_parents&#125;&#125;</th>
                <th>&#123;&#123;num_bridesmaids&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;client_portal_full_address&#125;&#125;</th>
                <th>&#123;&#123;client_portal_pin&#125;&#125;</th>
                <th>&#123;&#123;client_contract_only_click_here&#125;&#125;</th>
                <th>&#123;&#123;client_musiclist_only_click_here&#125;&#125;</th>
                <th>&#123;&#123;client_confirmation_only_click_here&#125;&#125;</th>
            </tr>
            <tr>
                <th>&#123;&#123;client_payment_only_click_here&#125;&#125;</th>
                <th>&#123;&#123;confirm_btn&#125;&#125;</th>
                <th>&#123;&#123;confirm_btn_text&#125;&#125;</th>
                <th>&#123;&#123;confirm_list&#125;&#125;</th>
                <th>&#123;&#123;invoice_num&#125;&#125;</th>
            </tr>

       </table>
    </div>
