{% load humanize %}
<div class="row">
    <a href="/events/{{ payment.event.id }}/edit" style="color: inherit">
    <div class="col s12 m10 offset-m1 ev-rounded-only z-depth-1 evx-panelbackgroundlight" id="ev-pad-right">
        <table class="homepagetable" style="border:none !important;">
            <col width="25%">
            <col width="37.5%">
            <col width="37.5%">
            <tr>
                <td>{% if payment.event.event_archived %}<span style=""><b>[ARCHIVED] </b></span>{% endif %}
                    <span style="color:#333333;">
                    <b>${{payment.amount_due}} </b>rcvd<b> {{payment.date|naturalday:"D M j"|title}}</b>
                </td>
                
                {% if payment.method == "paypal" %}
                    <td><b>{{payment.type}} pay, </b>via<b> PayPal </b>(total ${{payment.payment}})</td>
                {% else %}
                    <td><b>{{payment.type}} pay, </b>via<b> Personal Check</b></td>
                {% endif %}
                
                <td class="center">
                    <span class="evx-main-subline-extra evx-rounded-only {% if payment.event.date_ispast or payment.event.event_archived %}evx-panelbackgroundold-subline{% else %}evx-panelbackground-subline{% endif %}">
                        <span class="{% if payment.event.date_ispast or payment.event.event_archived %}evx-tinyold{% else %}evx-tiny{% endif %}">
                            {{ payment.event.date|date:"M j, 'y" }}:&nbsp;&nbsp;
                        </span>
                        <span class="{% if payment.event.date_ispast or payment.event.event_archived %}evx-tinyeventold{% else %}evx-tinyevent{% endif %}">
                            <b>{% if payment.event.type == "HD" %}[HOLD]: {% endif %}{{ payment.event.name }}</b>
                       </span>
                    </span>
                </td>
                
            </tr>
        </table>
    </div>
    </a>
</div>
