{% extends 'events/base-new.html' %}
{% load static %}



{% block content %}
<input type="hidden" id="page_flag" value="payments_rcvd">

<div>
    {% if payments %}
    <h4>Payments Received</h4>  <h5>In the last 4 weeks:</h5>
    <br />
    {% else %}
    <h4>Payments Received</h4>  <h5>No Payments Received in last 4 weeks.</h5>
    <br />
    {% endif %}
</div>

{% for payment in payments %}
    
    {% include 'events/draw_payments_rcvd_summary.html' %}

{% endfor %}

<div>
    <br /><br />
    <a href="/events/payments_received_older"><h6>Click here to show older received payments</h6></a>
</div> 











{% endblock %}


{% block scripts %}
    <!-- custom js for the home page -->
    <script src="{% static 'js/events_home.js' %}"></script>
{% endblock %}

