<!DOCTYPE html>
    <table style="border-collapse:collapse;padding:4px;background-color:#EDEDDF;text-align:center;vertical-align:middle;">
        <thead style="background-color:#ECECCD;">
            <tr style="padding: 10px 20px;">
            {% if mode ==  '2'  %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ensemble:</th>
                {% if minhours <=  '1'  and maxhours >=  '1'  %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ceremony<br />(up to 1hr)</th>
                {% endif %}{% if minhours <= '2' and maxhours >= '2' %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ceremony and Cocktails<br />(up to 2hrs)</th>
                {% endif %}{% if minhours <= '3' and maxhours >= '3' %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ceremony, Cocktails and Dinner<br />(up to 3hrs)</th>
                {% endif %}{% if minhours <= '4' and maxhours >= '4' %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Full Event<br />(up to 4hrs)</th>
                {% endif %}
            {% elif mode ==  '1'  %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ensemble:</th>
                {% if minhours <=  '1'  and maxhours >=  '1'  %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ceremony</th>
                {% endif %}{% if minhours <= '2' and maxhours >= '2' %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ceremony and Cocktails</th>
                {% endif %}{% if minhours <= '3' and maxhours >= '3' %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ceremony, Cocktails and Dinner</th>
                {% endif %}{% if minhours <= '4' and maxhours >= '4' %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Full Event</th>
                {% endif %}
            {% else %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ensemble:</th>
                {% if minhours <=  '1'  and maxhours >=  '1'  %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">1 Hour</th>
                {% endif %}{% if minhours <= '2' and maxhours >= '2' %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">2 Hours</th>
                {% endif %}{% if minhours <= '3' and maxhours >= '3' %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">3 Hours</th>
                {% endif %}{% if minhours <= '4' and maxhours >= '4' %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">4 Hours</th>
                {% endif %}
            {% endif %}            
            </tr>
        </thead>
        <tbody style="">
            {% if minensnum <= '1' and maxensnum >= '1' %}
            <tr style="padding:20px;">
                <td style="border-bottom:1px solid white;padding:20px;"><b>Solo</b></td>
                {% if minhours <=  '1'  and maxhours >=  '1'  %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.solo }}</td>
                {% endif %}{% if minhours <= '2' and maxhours >= '2' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_solo }}</td>
                {% endif %}{% if minhours <= '3' and maxhours >= '3' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_solo }}</td>
                {% endif %}{% if minhours <= '4' and maxhours >= '4' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_solo }}</td>
                {% endif %}
            </tr>
            {% endif %}{% if minensnum <= '2' and maxensnum >= '2' %}
            <tr style="padding:20px;">
                <td style="border-bottom:1px solid white;padding:20px;"><b>String Duo</b></td>
                {% if minhours <=  '1'  and maxhours >=  '1'  %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.duo }}</td>
                {% endif %}{% if minhours <= '2' and maxhours >= '2' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_duo }}</td>
                {% endif %}{% if minhours <= '3' and maxhours >= '3' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_duo }}</td>
                {% endif %}{% if minhours <= '4' and maxhours >= '4' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_duo }}</td>
                {% endif %}
            </tr>
            {% endif %}{% if minensnum <= '3' and maxensnum >= '3' %}
            <tr style="padding:20px;">
                <td style="border-bottom:1px solid white;padding:20px;"><b>String Trio</b></td>
                {% if minhours <=  '1'  and maxhours >=  '1'  %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.trio }}</td>
                {% endif %}{% if minhours <= '2' and maxhours >= '2' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_trio }}</td>
                {% endif %}{% if minhours <= '3' and maxhours >= '3' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_trio }}</td>
                {% endif %}{% if minhours <= '4' and maxhours >= '4' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_trio }}</td>
                {% endif %}
            </tr>
            {% endif %}{% if minensnum <= '4' and maxensnum >= '4' %}
            <tr style="padding:20px;">
                <td style="border-bottom:1px solid white;padding:20px;"><b>String Quartet</b></td>
                {% if minhours <=  '1'  and maxhours >=  '1'  %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.quartet }}</td>
                {% endif %}{% if minhours <= '2' and maxhours >= '2' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_quartet }}</td>
                {% endif %}{% if minhours <= '3' and maxhours >= '3' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_quartet }}</td>
                {% endif %}{% if minhours <= '4' and maxhours >= '4' %}
                <td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_quartet }}</td>
                {% endif %}
            </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- <table style="border-collapse:collapse;padding:4px;background-color:#EDEDDF;text-align:center;vertical-align:middle;">
        <thead style="background-color:#ECECCD;">
            <tr style="padding: 10px 20px;">
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Event:</th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>Solo</b></th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>String Duo</b></th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>String Trio</b></th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>String Quartet</b></th>
            </tr>
        </thead>
        <tbody>
            <tr style="padding:20px;">
            {% if mode ==  '1'  %}
                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding:20px;"><b>Ceremony</b></td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding:20px;"><b>Ceremony and Cocktails</b></td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding:20px;"><b>Ceremony, Cocktails and Dinner</b></td>
                {% else %}<td style="border-bottom:1px solid white;padding:20px;"><b>Full Event (4 hours)</b></td>
                {% endif %}
            {% else %}
                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding:20px;"><b>1 Hour</b></td>
                {% else %}<td style="border-bottom:1px solid white;padding:20px;"><b>{{num}} Hours</b></td>
                {% endif %}
            {% endif %}
                        
                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.solo }}</td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_solo }}</td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_solo }}</td>
                {% else %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_solo }}</td>
                {% endif %}

                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.duo }}</td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_duo }}</td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_duo }}</td>
                {% else %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_duo }}</td>
                {% endif %}

                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.trio }}</td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_trio }}</td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_trio }}</td>
                {% else %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_trio }}</td>
                {% endif %}

                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.quartet }}</td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_quartet }}</td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_quartet }}</td>
                {% else %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_quartet }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>


    <table style="border-collapse:collapse;padding:4px;background-color:#EDEDDF;text-align:center;vertical-align:middle;">
        <thead style="background-color:#ECECCD;">
            <tr style="padding: 10px 20px;">
            {% if mode ==  '1'  %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ensemble:</th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>Ceremony</b></th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>Ceremony and Cocktails</b></th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>Ceremony, Cocktails and Dinner</b></th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>Full Event (4 hours)</b></th>
            {% else %}
                <th style="border-bottom:1px solid white;padding: 10px 20px;">Ensemble:</th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>1 Hour</b></th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>2 Hours</b></th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>3 Hours</b></th>
                <th style="border-bottom:1px solid white;padding: 10px 20px;"><b>4 Hours</b></th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr style="padding:20px;">
                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding:20px;"><b>Solo</b></td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding:20px;"><b>Duo</b></td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding:20px;"><b>Trio</b></td>
                {% else %}<td style="border-bottom:1px solid white;padding:20px;"><b>Quartet</b></td>
                {% endif %}

                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.solo }}</td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.duo }}</td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.trio }}</td>
                {% else %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.quartet }}</td>
                {% endif %}

                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_solo }}</td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_duo }}</td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_trio }}</td>
                {% else %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.two_quartet }}</td>
                {% endif %}

                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_solo }}</td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_duo }}</td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_trio }}</td>
                {% else %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.three_quartet }}</td>
                {% endif %}

                {% if num ==  '1'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_solo }}</td>
                {% elif num ==  '2'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_duo }}</td>
                {% elif num ==  '3'  %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_trio }}</td>
                {% else %}<td style="border-bottom:1px solid white;padding-left:20px;">${{ rate.four_quartet }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table> -->


    <br />
