{% load humanize %}

{% if not pays and not pays_pd %}<div style="line-height:14px;">(none)<div>{% else %}

{% for payment_pd in pays_pd %}

    <a href="/events/{{ payment_pd.event.id }}/edit" style="color: inherit">
        <table class="collapsible-table evx-panelbackgroundlight evx-rounded-only z-depth-1" style="border:none !important;">
            <tr>
                <td style="width: 260px; padding:7px 5px 4px 6px;" class="truncate center evx-side-date-rem">
                    {% if payment_pd.done %}
                        <span style="display:inline" class="truncate evx-side-date-rem evx-reminder-done">
                    {% elif payment_pd.is_past_due %}
                        <span style="display:inline" class="truncate evx-side-date-rem evx-reminder-past-due">
                    {% elif payment_pd.is_this_week %}
                        <span style="display:inline" class="truncate evx-side-date-rem evx-reminder-this-week">
                    {% else %}
                        <span style="display:inline" class="truncate evx-side-date-rem evx-reminder-not-past-due">
                    {% endif %}
                    
                    {% if payment_pd.is_past_due %}Past-Due {{ payment_pd.duedate|naturalday:'n/j'|title }}{% else %}Due {{ payment_pd.duedate|naturalday:'D'|title }}{% endif %}</span> - 
                    
                    {% if payment_pd.auto %}<span style="color:orange"><b>[A]</b>&nbsp;</span>{% endif %}
                    
                    <span class="evx-side-title-rem">
                        <b>${{payment_pd.payment|floatformat:"-2"|default:"[TBD]"}} </b>to<b> {{payment_pd.musician.name}}</b>
                    </span>
                </td>
            </tr>
            <tr style="padding-bottom:3px;margin-bottom:3px;" class="center">
                <td class="truncate center evx-side-subline-date-rem evx-side-subline-extra" 
                    style="max-width: 205px; width: fit-content; padding:3px 5px 2px 6px; margin-left:auto; margin-right:auto; margin-bottom:4px;">
                    <span>
                        <span>
                            {{ payment_pd.event.date|date:'n/j/y' }} : 
                            {% if payment_pd.event.type == "HD" %}[HD] {% endif %}{{ payment_pd.event.name }}
                        </span>
                    </span>
                </td>
            </tr>
        </table>
        <div style="height:10px;">&nbsp;</div>
    </a>
    
{% endfor %}    
    
    
    
{% for payment in pays %}

    <a href="/events/{{ payment.event.id }}/edit" style="color: inherit">
        <table class="collapsible-table evx-panelbackgroundlight evx-rounded-only z-depth-1" style="border:none !important;">
            <tr>
                <td style="width: 260px; padding:7px 5px 4px 6px;" class="truncate center evx-side-date-rem">
                    {% if payment.done %}
                        <span style="display:inline" class="truncate evx-side-date-rem evx-reminder-done">
                    {% elif payment.is_past_due %}
                        <span style="display:inline" class="truncate evx-side-date-rem evx-reminder-past-due">
                    {% elif payment.is_this_week %}
                        <span style="display:inline" class="truncate evx-side-date-rem evx-reminder-this-week">
                    {% else %}
                        <span style="display:inline" class="truncate evx-side-date-rem evx-reminder-not-past-due">
                    {% endif %}
                        
                    {% if payment.is_past_due %}Past-Due {{ payment.duedate|naturalday:'n/j'|title }}{% else %}Due {{ payment.duedate|naturalday:'D'|title }}{% endif %}</span> - 
                    
                    {% if payment.auto %}<span style="color:orange"><b>[A]</b>&nbsp;</span>{% endif %}
                    
                    <span class="evx-side-title-rem">
                        <b>${{payment.payment|floatformat:"-2"|default:"[TBD]"}} </b>to<b> {{payment.musician.name}}</b>
                    </span>
                </td>
            </tr>
            <tr style="padding-bottom:3px;margin-bottom:3px;" class="center">
                <td class="truncate center evx-side-subline-date-rem evx-side-subline-extra" 
                    style="max-width: 205px; width: fit-content; padding:3px 5px 2px 6px; margin-left:auto; margin-right:auto; margin-bottom:4px;">
                    <span>
                        <span>
                            {{ payment.event.date|date:'n/j/y' }} : 
                            {% if payment.event.type == "HD" %}[HD] {% endif %}{{ payment.event.name }}
                        </span>
                    </span>
                </td>
            </tr>
        </table>
        <div style="height:10px;">&nbsp;</div>
    </a>
    
    
{% endfor %}

{% endif %}    

