<!-- sigstart -->
<img src="signature_pic" alt="signature pic">
<table border="0">
    <tbody>
      <tr style="vertical-align:top;">
        <td style="padding: 0px; vertical-align:top;">
            <p style="padding-right: 10px; vertical-align:top;">
                <img src="profile_pic" alt="profile pic">
            </p>
        </td>
        <td style="padding-left: 10px; border-left: medium solid #cccccc; vertical-align:top;">
            <p style="font-size:12px;">
                <b>Janie Spangler</b><br />
                The Vanderbilt Strings<br />
                <br />
                <a style="text-decoration:none;color:black;" href="mailto:janie@vanderbiltstrings.com">janie@vanderbiltstrings.com</a><br />
                <a style="text-decoration:none;color:black;" href="http://www.vanderbiltstrings.com">www.vanderbiltstrings.com</a><br />
                239.989.7015
                <br />
                <a href="http://www.facebook.com/VSupdates"><img src="facebook_pic" alt="facebook" style="height:20px;width:20px"></a>
                &nbsp;&nbsp;
                <a href="http://www.instagram.com/vanderbiltstrings"><img src="instagram_pic" alt="instagram" style="height:20px;width:20px"></a>
                <br />
            </p>
        </td>
      </tr>
    </tbody>
</table>
<!-- sigend -->