{% extends "events/base2.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class = "container">
    <br /><h3>Edit Venue:</h3>
    <form method = 'POST' action= '' enctype = "multipart/form-data" novalidate id = "venue-form">{% csrf_token %}
        <div class="input-field ev-lessshortline">
            <i class="material-icons prefix">person</i>
            {{ form.name|add_class:"validate" }}
            {{ form.name.label_tag }}
            <div class="error-text">{{ form.name.errors }}</div>
            <span class="helper-text">{{ form.name.help_text }}</span>
        </div> 
        <div class="input-field ev-lessshortline">
            <i class="material-icons prefix">location_on</i>
            {{ form.address|add_class:"validate" }}
            {{ form.address.label_tag }}
            <div class="error-text">{{ form.address.errors }}</div>
            <span class="helper-text">{{ form.address.help_text }}</span>
        </div>
        <div class="input-field ev-lessshortline">
            <i class="material-icons prefix">link</i>
            {{ form.link|add_class:"validate" }}
            {{ form.link.label_tag }}
            <div class="error-text">{{ form.link.errors }}</div>
            <span class="helper-text">{{ form.link.help_text }}</span>
        </div>
        <div class="input-field ev-lessshortline">
            <i class="material-icons prefix">email</i>
            {{ form.email|add_class:"validate" }}
            {{ form.email.label_tag }}
            <div class="error-text">{{ form.email.errors }}</div>
            <span class="helper-text">{{ form.email.help_text }}</span>
        </div>
        <div class="input-field ev-lessshortline">
            <i class="material-icons prefix">phone</i>
            <input type="text" class="validate" id="id_phone_0"
                    {% if form.phone.value %}
                        value="{{form.phone.value}}"
                    {% endif %}
                    name="phone_0" maxlength="100" />
            {{ form.phone.label_tag }}
            <div class="error-text">{{ form.phone.errors }}</div>
            <span class="helper-text">{{form.phone.help_text }}</span>
        </div>
        <div class="input-field ev-lessshortline">
            <i class="material-icons prefix">list</i>
            {{ form.order|add_class:"validate" }}
            {{ form.order.label_tag }}
            <div class="error-text">{{ form.order.errors }}</div>
            <span class="helper-text">{{ form.order.help_text }}</span>
        </div>
        
        <input type="submit" value = "Submit" />
        <br /><br />
    </form>
</div>
{% endblock %}